resources/

.venv/
env/
__pycache__/
*.pyc

data/
experiments/logs/
experiments/checkpoints/

.ipynb_checkpoints/

*.log

.DS_Store

.cache/

/tests/
/wandb/
/scripts/
/scratch/
/obsolete-results/
/docs/
/assets/
/cluster/*
!/cluster/aliases.sh
