resources/

.venv/
env/
__pycache__/
*.pyc

data/
experiments/logs/
experiments/checkpoints/

.ipynb_checkpoints/

*.log

.DS_Store

.cache/

/tests/
/wandb/
/scripts/
/scratch/
/obsolete-results/
/docs/*
!/docs/REPORT.md
!/docs/03-knowledge-distillation.pdf
/assets/
/cluster/*
!/cluster/aliases.sh

/Presentation/proto/
/Presentation/web-slides/slides/backups/
/Presentation/web-slides/slides/build.py
/Presentation/web-slides/slides/export_static_deck.py

/walkthrough.md
/benchmark_test_set.sh
/backup.md
/experiments/Results/**/*.md
